/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    position: relative;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    z-index: 0;
}
 

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: black;
    z-index: 1;
    overflow: hidden;
}

#nav-drawer {
    display: none;
}

ul {
    list-style: none;
}

.menu_link {
    display: block;
    float: left;
    line-height: 70px;
    text-align: center;
    color: white;
    margin-left: 40px;;
    height: 70px; 
    width: 120px; 
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.menu_link:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.user {
    float: right;
    margin-right: 40px;
    color: white;
    line-height: 70px;
}

.container {
    margin-top: 80px;
}

.search {
    float: right;
    margin-top: 5px;
    margin-right: 40px;
}

.recent_post {
    margin-top: 100px;
    color: #F8F8F9;
}

.tags_title {
    color: #F8F8F9;
}

.post_title {
    font-weight: bold;
    font-size: x-large;
    color: #1E1E36;
}

.post_content {
    display: -webkit-box;
    width: auto;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 75px;
}

.posts_index {
    background-image: url("/images/shubham-sharan-Z-fq3wBVfMU-unsplash.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.contents {
    background-color: rgba(30, 30, 54, 0.8);
    padding-left: 10%;
    padding-right: 10%;
    min-height: 720px;
}

#content{
    z-index:3;
    width:50%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5em;
    background-color: white;
    opacity: 1;
    transition: 1s;
}

#overlay{
    /*　要素を重ねた時の順番　*/
    z-index: 2;

    /*　画面全体を覆う設定　*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);

    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
.fade-enter, .fade-leave-to {
    opacity: 0
}

.actions {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.login_link {
    display: inline-block;
    margin-top: 5px;
}

.close {
    border: none;
    font-size: 60px;
    font-weight: lighter;
}

footer {
    background-color: black;
    height: 70px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.footer_title {
    color: #35A76C;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
}

.footer_title:hover {
    text-decoration: none;
    color: #35A76C;

}

.address_edit {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1E1E36;
}

.profile_edit {
    text-align: center;
    padding-top: 100px;
    height: 720px;
    background-color: #1E1E36;
}

.field {
    margin-top: 20px;
}

.show {
    background-color: #1E1E36;
}

.show_content {
    margin-top: 260px;
    margin-bottom: 210px;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}

.heart {
    content: "\f08a";
    font-family: FontAwesome;
}

.heart:active {
    background-position: -2800px 0;
    -webkit-transition: background 1s steps(28);
    transition: background 1s steps(28);
}

.category {
    display: inline-block;
    background-color: #90A4B4;
    color: #F8F8F9;
    margin-right: 20px;
    padding: 0px 5px;
    border-radius: 5px;
}

.back {
    text-align: center;
    height: 100px;
}

.search_view {
    margin-top: 70px;
    padding-top: 30px;
    background-color: #1E1E36;
    min-height: 650px;
}

.search_result {
    margin-top: 30px;
}

.profile_edit_form {
    margin-top: 5%;
    padding-top: 5%;
    background-color: #F8F8F9;
    border: solid 1px #F8F8F9;
    border-radius: 5px;
}

.change {
    margin-top: 20px;
}

.edit_form {
    padding-top: 5%;
    background-color: #F8F8F9;
    border: solid 1px #F8F8F9;
    border-radius: 5px;
}

.icon::before {
    display: inline-block;
    margin-right: 5px;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.return {
    float: right;
    margin-bottom: 50px;
    color: #1E1E36;
}

.registration {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1E1E36;
}

.registration_form {
    padding-top: 5%;
    background-color: #F8F8F9;
    border: solid 1px #F8F8F9;
    border-radius: 5px;
}

.like_count {
    margin-left: 5px;
}

.sign_in {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1E1E36;
}

.sign_in_form {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #F8F8F9;
    border: solid 1px #F8F8F9;
    border-radius: 5px;
    min-height: 520px;   
    text-align: left;
}

.btn-info {
    margin-right: 10px;
    height: 30px;
}

.delete_link {
    position: relative;
    z-index: 2;
}

@media(max-width: 1000px) {

    #nav-drawer {
        display: block;
        justify-content: stretch;
    }

    .menu_link {
        display: none;
    }

    .search {
        display: none;
    }

    .humburger {
        color: white;
        margin-top: 25px;
        margin-left: 30px;
        font-size: 20px;
        float: right;
    }

    .user {
        line-height: normal;
    }

    /*チェックボックス等は非表示に*/
    .nav-unshown {
    display:none;
    }
  
    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }
    
    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }
    
    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 99;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }
    
    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;/*最前面に*/
        width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 330px;/*最大幅（調整してください）*/
        height: 100%;
        background-color: #1E1E36;/*背景色*/
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: all .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);/*左に隠しておく*/
    }
  
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
    }
    
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }

    .nav-header {
        background-color: black;
        height: 70px;
        padding-top: 20px;
        text-align: center;
    }

    ul {
        padding-left: 0px;
    }

    .menu_list_xs {
        z-index: 9999;
    }

    .menu_xs {
        display: block;
        line-height: 70px;
        text-align: left;
        color: white;
        height: 70px;  
        width: 100%;
        padding-left: 20px;
        text-decoration: none;
        border: none;
        position: relative;
        z-index: 9999 !important;
    }

    .menu_xs:hover {
        background-color: #F8F8F9;
        color: #1E1E36;
        text-decoration: none;
    }
}