// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-wrapper {
    margin-top: 70px;
    text-align: center;
    height: 450px;
    padding-top: 100px;
    background-color: lavender;
    background-image: url("/images/Chalkboard-background.jpg");
    background-size: cover;
}

.mypage_user {
    color: #35A76C;
}

.title {
    margin-top: 20px;
    color: #F8F8F9;
}

.post {
    position: relative;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    font-size: smaller;
}

.post .post_link {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.post :hover {
    background-color: rgba(194, 194, 194, 0.3);
}

.created_at {
    font-size: small;
    color: grey;
    float: right;
    padding-right: 5px;
}

.history {
    background-color: #1E1E36;
    padding-bottom: 50px;
}

.user_name {
    font-weight: bold;
    color: #35A76C;
    margin-right: 10px;
}

.user_name:hover {
    text-decoration: none;
}

.edit {
    color: #90A4B4;
    margin-left: 15px;
}