.jumbotron-extend {
    margin-top: 70px;
    margin-bottom: 0px;
    height: 450px;
    border-radius: 0px;
}

.message-wrapper {
    background-image: url("/images/Chalkboard-background.jpg");
    background-size: cover;
}

.message {
    color: white;
    margin-left: 70px;
    text-align: left;
    font-size: larger;
}

.message_title {
    font-size: 52px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #35A76C;
    margin-bottom: 50px;
}

.form {
    height: 400px;
}

.search_form {
    text-align: center;
}

.popular_posts {
    background-color: #1E1E36;
    height: auto;
}

@media(max-width: 1000px) {
    .top_teaching_img {
        display: none;
    }
}

@media(max-width: 500px) {

    .message {
        margin-left: auto;
    }
}