.jumbotron-extend {
    margin-top: 70px;
    height: 400px;
}

.message {
    text-align: center;
}

.form {
    height: 400px;
}

.search_form {
    text-align: center;
}

.popular_posts {
    background-color: burlywood;
    height: auto;
}